@font-face {
    font-family: "sfThin";
    src: url("./SanFrancisco/SFUIDisplay-Thin.eot");
    src: url("./SanFrancisco/SFUIDisplay-Thin.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIDisplay-Thin.woff") format("woff"),
        url("./SanFrancisco/SFUIDisplay-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sfLight";
    src: url("./SanFrancisco/SFUIDisplay-Light.eot");
    src: url("./SanFrancisco//SFUIDisplay-Light.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIDisplay-Light.woff") format("woff"),
        url("./SanFrancisco/SFUIDisplay-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sfRegular";
    src: url("./SanFrancisco/SFUIDisplay-Regular.eot");
    src: url("./SanFrancisco/SFUIDisplay-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIDisplay-Regular.woff") format("woff"),
        url("./SanFrancisco/SFUIDisplay-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sfMedium";
    src: url("./SanFrancisco/SFUIDisplay-Medium.eot");
    src: url("./SanFrancisco/SFUIDisplay-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIDisplay-Medium.woff") format("woff"),
        url("./SanFrancisco/SFUIDisplay-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sfSemibold";
    src: url("./SanFrancisco/SFUIText-Semibold.eot");
    src: url("./SanFrancisco/SFUIText-Semibold.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIText-Semibold.woff") format("woff"),
        url("./SanFrancisco/SFUIText-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sfBold";
    src: url("./SanFrancisco/SFUIText-Bold.eot");
    src: url("./SanFrancisco/SFUIText-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIText-Bold.woff") format("woff"),
        url("./SanFrancisco/SFUIText-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "sfHeavy";
    src: url("./SanFrancisco/SFUIText-Heavy.eot");
    src: url("./SanFrancisco/SFUIText-Heavy.eot?#iefix")
            format("embedded-opentype"),
        url("./SanFrancisco/SFUIText-Heavy.woff") format("woff"),
        url("./SanFrancisco/SFUIText-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
