// preloader
$PreloaderBacgroundColor: white;

// header
$bacgroundColor: #050505;

// header text
$helloColor: white;
$logoColor: white;
$commitColor: #929292;

// header btn
$headerBtnTextColor: white;
$headerBtnBorder: 1px solid white;
$headerBtnAboutUsBacColor: rgba(0, 0, 0, 0.9);
$headerBtnPortfolioBacColor: rgba(255, 255, 255, 0.25);
$headerBtnBottomnColor: white;
$headerBtnBottomnTextColor: black;