@keyframes SmalBoxAnimation {
    0% {
        transform: rotateZ(27deg) translate(0, 0);
    }

    50% {
        transform: rotateZ(387deg) translate(30%, -25%);
    }

    100% {
        transform: rotateZ(27deg) translate(0, 0);
    }
}

@keyframes BigBoxAnimation {
    0% {
        transform: rotateZ(73deg) translate(0, 0);
    }

    50% {
        transform: rotateZ(-248deg) translate(12%, -5%);
    }

    100% {
        transform: rotateZ(-433deg) translate(0, 0);
    }
}

@keyframes showtext {
    from {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}