@import "../style-variables/styleVariables.scss";
@import "../style-variables/styleAnimations.scss";

body {
    &::-webkit-scrollbar {
        background-color: black;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        border: black;
        visibility: hidden;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
    }
}

.preloader {
    transition: transform 1.5s ease-in-out 0.65s;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $PreloaderBacgroundColor;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 0%, 0);

    img {
        width: 300px;
    }

    h2 {
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        margin: 0;
        width: max-content;
        letter-spacing: 10px;
        font-size: 30px;
        font-weight: 400;
        animation: showtext 1.5s 1 ease-in-out;
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }

    &-none {
        transform: translate3d(0, -100%, 0);

        h2 {
            transform: translate3d(0, -100%, 0);
            opacity: 0;
        }
    }
}

#header {
    background-color: $bacgroundColor;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .bacgroundImg {
        background: url("../assets/header-img/backLion.jpg") no-repeat center;
        transition: transform 1.2s ease-in-out;
        background-size: cover;
        position: absolute;
        height: 100vh;
        width: 100%;
        right: -150px;
        z-index: 0;
    }

    .MouseScrollDown {
        transition: transform 1.5s ease-in-out;
        position: absolute;
        left: 50%;
        bottom: 3vh;
        width: 20px;
    }
}

.BgBox {
    transition: opacity 1.5s ease-in-out;
    position: absolute;
    z-index: 0;

    &-smallBox {
        border: 3px solid #4a450f;
        width: 190px;
        height: 190px;
        position: absolute;
        left: 30vw;
        top: 13vh;
        transform: rotateZ(27deg);
        z-index: 0;
        animation: SmalBoxAnimation 180s infinite linear;
    }

    &-BigBox {
        border: 3px solid #4a450f;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 0vw;
        top: 40vh;
        transform: rotateZ(73deg);
        z-index: 0;
        animation: BigBoxAnimation 300s infinite linear;
    }
}

.ContentBlock {
    margin-top: 25vh;
    margin-left: 250px;
    z-index: 5;

    &-hello {
        transition: transform 1.3s, opacity 1.3s ease-in-out;
        transform: translateX(0%);
        opacity: 1;
        width: max-content;
        margin: 0;
        font-size: 18px;
        font-family: sfLight;
        color: $helloColor;
        margin-left: 5px;
    }

    &-logo {
        transition: transform 1.3s, opacity 1.3s ease-in-out;
        transform: translateX(0%);
        opacity: 1;
        width: max-content;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        font-size: 60px;
        color: $logoColor;
        font-family: sfHeavy;
    }

    &-commit {
        transition: transform 1.3s, opacity 1.3s ease-in-out;
        transform: translateX(0%);
        opacity: 1;
        width: max-content;
        margin: 0;
        padding: 0;
        margin-top: 18px;
        font-size: 16px;
        color: $commitColor;
        font-family: sfLight;
        letter-spacing: 4px;
    }

    .none {
        transform: translateX(-250%);
        opacity: 0;
    }

    &-buttons {
        transition: transform 1.7s, opacity 1.3s ease-in-out;
        transform: translateX(0%);
        opacity: 1;
        margin-top: 68px;

        &-btn {
            display: inline-block;
            overflow: hidden;
            border: none;
            padding: 0;
            width: 140px;
            perspective: 400px;
            background-color: transparent;
            -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left
                        bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
            transform: scale(2);
            outline: none;
            cursor: pointer;

            font-family: sfRegular;
            letter-spacing: 2px;
            user-select: none;

            span {
                display: block;
                position: relative;
                transition: 0.3s ease-in-out transform;
                transform-origin: 50% 0;
                transform-style: preserve-3d;
                color: $headerBtnTextColor;
                width: 100%;

                &:after {
                    display: block;
                    content: attr(data-title);
                    position: absolute;
                    top: 0;
                    transition: 0.3s ease-in-out all;
                    transform-origin: 50% 0;
                    transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
                    background-color: $headerBtnBottomnColor;
                    color: $headerBtnBottomnTextColor;
                    letter-spacing: 0.5px;
                }
            }

            &:hover {
                span {
                    transform: translate3d(0px, 0px, -30px) rotateX(90deg);
                }
            }
        }

        .portfolio-btn {
            margin-left: 76px;

            span {
                background-color: $headerBtnPortfolioBacColor;
                padding: 5px 0;

                &:after {
                    left: 0;
                    width: 100%;
                    padding: 5px 0;
                }
            }
        }

        .aboutUs-btn {
            margin-left: 180px;

            span {
                background-color: $headerBtnAboutUsBacColor;
                padding: 5px 0;
                border: $headerBtnBorder;
                box-sizing: border-box;

                &:after {
                    left: -1px;
                    width: 102%;
                    padding: 5px 0;
                    border: 1px solid $headerBtnBottomnColor;
                    box-sizing: border-box;
                }
            }
        }
    }

    .none-buttons {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.LaungeAsign {
    transition: transform 1.5s, opacity 1.5s ease-in-out;
    z-index: 1;
    height: 20px;
    width: 200px;
    margin-left: 250px;
    margin-top: 8.5vh;

    ul {
        list-style: none;
        color: #676767;
        font-family: sfLight;
        display: flex;
        padding: 0;
        margin: 0;
        position: relative;

        .Active {
            color: white;

            &:hover {
                color: white;
            }
        }

        li {
            margin: 0 6px;
            font-size: 16px;
            cursor: pointer;
            user-select: none;
            text-transform: uppercase;

            &:hover {
                color: #c1c1c1;
            }

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;

                &::after {
                    display: none;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 3px;
                margin-left: 6px;
                height: 13px;
                width: 1px;
                background-color: #676767;
            }
        }
    }
}

.galleryCart {
    user-select: none;
    transition: transform 0.2s ease-in-out;
    width: 300px;
    height: 400px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 -10px 70px rgba(0, 0, 0, 0.5);
    margin-right: 40px;

    &:last-child {
        margin-right: 0px;
    }

    &:hover {
        transform: scale(1.05);

        .galleryCart-info {
            bottom: -150px;

            &-content {
                p {
                    visibility: hidden;
                    opacity: 0;
                }

                a {
                    visibility: visible;
                    opacity: 0.7;
                }

                hr {
                    margin: 0 auto;
                    top: -115px;
                }

                span {
                    top: -115px;
                }
            }
        }
    }

    &-img {
        width: 100%;
        height: 330px;
    }

    &-info {
        transition: bottom 0.3s ease;
        background-color: white;
        width: 350px;
        height: 260px;
        position: absolute;
        bottom: -30px;
        transform: rotate(-8deg);
        left: -23px;
        box-shadow: 0 -15px 50px rgba(0, 0, 0, 0.5);

        &-content {
            transform: rotate(8deg);
            width: 250px;
            margin: 30px auto 0 auto;

            h3 {
                font-family: sfBold;
                color: black;
                margin: 0;
                margin-left: 10px;
                font-size: 16px;
                letter-spacing: -0.8px;
                top: -5px;
                position: relative;
            }

            p {
                transition: all 0.2s ease;
                font-family: sfRegular;
                font-size: 14px;
                letter-spacing: 0.9px;
                line-height: 20px;
                margin: 0;
                margin-top: 10px;
                visibility: visible;
                opacity: 1;
            }

            a {
                transition: all 0.3s ease;
                visibility: hidden;
                opacity: 0;
                position: relative;
                bottom: 137px;
                letter-spacing: 3px;
                left: 145px;
                text-decoration: none;
                color: black;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px 25px;
                box-sizing: border-box;
                font-family: sfMedium;
                background-color: white;
                outline: none;

                :hover {
                    background-color: black;
                    color: white;
                    opacity: 0.85 !important;
                }
            }

            hr {
                transition: all 0.3s ease;
                height: 1px;
                width: 230px;
                border: none;
                background-color: rgba(0, 0, 0, 0.25);
                margin: 12px auto 0 auto;
                position: relative;
                top: -15px;
            }

            span {
                transition: top 0.3s ease;
                font-family: sfMedium;
                font-size: 14px;
                opacity: 0.5;
                margin-top: 15px;
                text-align: right;
                width: 100%;
                display: block;
                position: relative;
                top: -15px;
            }
        }
    }
}

.portfolio {
    height: 979px;
    width: 100%;
    position: relative;
    background-color: #050505;
    overflow: hidden;

    &-bacground {
        transform: scale(1.1);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: background 0.3s ease-in-out;
        filter: blur(5px) brightness(30%);
        background-size: cover;
        box-shadow: inset 0 100px 50px 0 #050505,
            inset 0 220px 300px 0px #050505;
        z-index: 0;
    }

    &-label {
        color: white;
        margin: 0;
        padding: 0;
        font-family: sfSemibold;
        font-size: 24px;
        width: max-content;
        position: relative;
        margin: 0 auto;
        margin-top: 50px;
        user-select: none;
        z-index: 2;

        &::before {
            content: "";
            background-color: white;
            width: 163px;
            height: 2px;
            position: absolute;
            left: -13px;
            bottom: -5px;
        }
    }
}

.scrollRow {
    position: relative;
    height: 10px;
    width: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 70px auto 0 auto;

    &-scroll {
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 20%;
        border-radius: 10px;
        background-color: white;
    }
}

#Galerry {
    transition: visibility 0.5s, transform 0.5s ease-in-out;
    position: relative;
    margin-top: 70px;
    width: min-content;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
}

.infoBlock {
    width: 1400px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.description {
    width: 935px;

    &-title {
        font-size: 24px;
        margin-left: 50px;
        color: white;
        font-family: sfBold;
        letter-spacing: 1px;
    }

    &-text {
        color: white;
        font-size: 18px;
        font-family: sfRegular;
        margin-top: 30px;
        letter-spacing: 1.3px;
        line-height: 22px;
    }
}

.technologies {
    &-title {
        color: white;
        font-size: 24px;
        font-family: sfBold;
        margin-left: 20px;
        letter-spacing: 1px;
    }

    &-technology {
        display: flex;
        justify-content: space-between;
        height: 144px;
        border-radius: 10px;
        background-color: #ffffff1f;
        padding: 20px;
        margin-top: 10px;

        &-list {
            ul {
                list-style: none;
                padding: 5px 0;
                margin: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                li {
                    display: flex;
                    justify-content: space-between;
                    width: 160px;
                    padding-top: 8px;
                    position: relative;
                    cursor: context-menu;

                    &:first-child {
                        padding-top: 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        right: 80px;
                        width: 0px;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.5);
                        transition: width 0.2s ease;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 80px;
                        width: 0px;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.5);
                        transition: width 0.2s ease;
                    }

                    &:hover {
                        &::before {
                            width: 80px;
                        }

                        &::after {
                            width: 80px;
                        }
                    }
                }
            }

            &-name {
                color: white;
                font-size: 18px;
                font-family: sfRegular;
                letter-spacing: 1px;
            }

            &-state {
                user-select: none;
            }
        }

        &-line {
            width: 2px;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 0 15px;
        }
    }
}
